body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
}

.box-3 {
  background-color: bisque;
}