.nested > li > ul > li:last-child a {
  text-decoration: none;
}

.nested > li:first-child a {
  text-decoration: none;
}

.my-list > li:nth-child(3) {
  background-color: gray;
}

body h3:nth-of-type(4) {
  color: green;
}

.last-list li:nth-child(odd) {
  background-color: yellow;
}

body h2:nth-of-type(odd) {
  color: blue;
  background-color: green;
}

ul.u-line li:first-child {
  text-decoration: underline;
}

ul li:last-child {
  text-decoration: underline;
}

.last-list li:nth-child(2) a {
  text-decoration: line-through;
}

ul li ul li:nth-child(3) {
  color: purple;
}

p:nth-of-type(odd) {
  background-color: brown;
  padding: 15px;
}

body > ul > li:nth-of-type(3n) {
  border: 1px solid black;
  padding: 8px;
}
