/* insert code */

h2 + h3 {
  text-decoration: underline dotted red;
  margin-top: 8px;
}

ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

ul > li > ul > li {
  text-decoration: underline;
}
