.my-div {
  width: 500px;
  height: 102px;
  background-color: red;
  border: 1px solid green;
  /* recipe */
  margin: 0 auto;
}

.blue {
  width: 150px;
  height: 300px;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 21px;
  background-color: blue;
}

.container {
  width: 100%;
  border: 3px solid green;
  padding: 15px;
}
