/* add code here */

/* #header h1 {
  color: green;
  text-decoration: underline;
  padding: 5px;
} */

.header.header h1 {
  color: green;
  text-decoration: underline;
  padding: 5px;
}

/* not recommended */
#container .para {
  font-size: 25px;
  font-style: italic;
  color: purple;
}

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: blueviolet;
}
